.wood {
    height: 110rem;
    /*width: 37.5%;*/
    width: 100%;
     background-image: url(../images/women-model-blonde.jpg);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
  }


  /* why is this css effecting the main page when I havent even imported it into the checkout.js file  */